[Agent]
# File paths should be double quoted.
# Certificate file for the metric servers for prometheus
#cert_file = "cert.pem"

# Key file for the metric servers for prometheus
#key_file = "key.pem"

# labels to add to the prometheus metrics for e.g. labels={zone="asia-south1-a", platform="google compute engine"}
labels={}

bind = ":9145"

# metrics server timeout in seconds
timeout = 10

# Exporter logging configuration
# Log file path (optional, logs to console by default)
# Level can be info|warning,warn|error,err|debug
log_file = ""
log_level = "debug"

# Basic HTTP authentication for '/metrics'.
basic_auth_username=""
basic_auth_password=""

[Aerospike]
db_host="localhost"
db_port=3000

# certificate file
cert_file=""

# key file
key_file=""

# Passphrase for encrypted key_file. Supports below formats,
# 1. Passphrase directly                 - "<passphrase>"
# 2. Passphrase via file                 - "file:<file-that-contains-passphrase>"
# 3. Passphrase via environment variable - "env:<environment-variable-that-holds-passphrase>"
key_file_passphrase=""

# node TLS name for authentication
node_tls_name=""

# root certificate file
root_ca=""

# authentication mode: internal (for server), external (LDAP, etc.)
auth_mode=""

# database user
user=""

# database password
password=""

# timeout for sending commands to the server node in seconds
timeout=5

# Metrics Allowlist - If specified, only these metrics will be scraped. An empty list will exclude all metrics.
# Commenting out the below allowlist configs will disable metrics filtering (i.e. all metrics will be scraped).

# Namespace metrics allowlist
# namespace_metrics_allowlist=[]

# Set metrics allowlist
# set_metrics_allowlist=[]

# Node metrics allowlist
# node_metrics_allowlist=[]

# XDR metrics allowlist (only for server versions 5.0 and above)
# xdr_metrics_allowlist=[]

# Metrics Blocklist - If specified, these metrics will be NOT be scraped.

# Namespace metrics blocklist
# namespace_metrics_blocklist=[]

# Set metrics blocklist
# set_metrics_blocklist=[]

# Node metrics blocklist
# node_metrics_blocklist=[]

# XDR metrics blocklist (only for server versions 5.0 and above)
# xdr_metrics_blocklist=[]